body {
    padding: 0;
    margin: 0;
    min-width: 320px;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#main-canvas {
    width: 100% !important;
    height: 100% !important;
    background: linear-gradient(black, #303030);
    z-index: 0;
}

#control-overlay {
    box-sizing: border-box;
    width: 100%;
    min-width: 320px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 10;
    padding: 10px;
}

#control-overlay > div {
    width: 100%;
    display: flex;
}

#control-overlay i {
    color: white;
}

#control-overlay > div > * {
    margin: 5px;
    height: 16px;
}

#progress-bar, #speed-bar {
    display: inline-block;
    padding: 0;
    background: white;
}

#progress-bar, .filler {
    flex-grow: 1;
}

#speed-bar {
    width: 60px;
    position: relative;
}

#progress-value, #speed-value {
    display: inline-block;
    height: 100%;
    background-color: darkcyan;
    margin: 0;
    pointer-events: none;
}

#control-overlay #resetcam-button {
    font-size: 75%;
    margin-top: 1px;
}

#resetcam-button > .fa-stack-2x {
    color: white;
}

#resetcam-button > .fa-stack-1x {
    margin-left: -4px;
    color: black;
}

#control-overlay .inactive {
    color: gray;
}

#control-overlay .active {
    color: darkcyan;
}